In [41]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.compose import make_column_selector, make_column_transformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder, OrdinalEncoder
from sklearn.pipeline import make_pipeline
from sklearn.impute import SimpleImputer

from sklearn import set_config
set_config(display='diagram')

In [42]:
# or your path here
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/sales_predictions.csv')
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [43]:
df.duplicated().sum()

0

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [45]:
df.isna().sum().sum()

3873

In [46]:
df.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [47]:
df.describe(include='number')

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,7060.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857645,0.066132,140.992782,1997.831867,2181.288914
std,4.643456,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.773750,0.026989,93.826500,1987.000000,834.247400
50%,12.600000,0.053931,143.012800,1999.000000,1794.331000
75%,16.850000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [48]:
df.describe(include='object')

,Item_Identifier,Item_Fat_Content,Item_Type,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type
count,8523,8523,8523,8523,6113,8523,8523
unique,1559,5,16,10,3,3,4
top,FDW13,Low Fat,Fruits and Vegetables,OUT027,Medium,Tier 3,Supermarket Type1
freq,10,5089,1232,935,2793,3350,5577

In [49]:
df.drop(columns='Item_Identifier')

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...
8518,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [50]:
df['Item_Outlet_Sales'].isna().sum()

0

In [51]:
df['Outlet_Size'].unique()

array(['Medium', nan, 'High', 'Small'], dtype=object)

In [52]:
#df['Item_Weight'].unique()

In [53]:
# Ordered Category Lists
Outlet_Size_list = ['Small', 'Medium', 'Large']

# Transformers
ord = OrdinalEncoder(categories=[Outlet_Size_list])
freq_imputer = SimpleImputer(strategy='most_frequent')
scaler2 = StandardScaler()
# Pipeline
ord_pipe = make_pipeline(freq_imputer, ord, scaler2)
# Selector
ord_cols = ['Outlet_Size']
# Tuple
ord_tuple = (ord_pipe, ord_cols)

In [84]:
# split X and y, we are predicting future sales
X = df.drop(columns=['Item_Identifier', 'Outlet_Identifier', 'Item_Outlet_Sales'])
y = df['Item_Outlet_Sales']
# split training and test
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [89]:
X_train.shape

(6392, 9)

In [90]:
X_test.shape

(2131, 9)

In [91]:
#print(Outlet_Size_list)

['Small', 'Medium', 'Large']

In [92]:
# Transformers
mean_imputer = SimpleImputer(strategy='mean')
scaler = StandardScaler()

# Pipeline
num_pipe = make_pipeline(mean_imputer, scaler)

# Selector
num_selector = make_column_selector(dtype_include='number')

# Tuple
num_tuple = (num_pipe, num_selector)

In [93]:
# Instantiate the make column transformer
preprocessor = make_column_transformer(ord_tuple,
                                       num_tuple,
                                       remainder='drop',
                                       verbose_feature_names_out=False)

In [95]:
#print(X)

In [102]:
print(X_train)

      Item_Weight Item_Fat_Content  Item_Visibility              Item_Type  \
4776       16.350          Low Fat         0.029565              Household
7510       15.250          Regular         0.000000            Snack Foods
5828       12.350          Regular         0.158716                   Meat
5327        7.975          Low Fat         0.014628           Baking Goods
4810       19.350          Low Fat         0.016645           Frozen Foods
...           ...              ...              ...                    ...
5734        9.395          Regular         0.286345  Fruits and Vegetables
5191       15.600          Low Fat         0.117575           Frozen Foods
5390       17.600          Low Fat         0.018944     Health and Hygiene
860        20.350          low fat         0.054363            Snack Foods
7270       16.350               LF         0.016993              Household

      Item_MRP  Outlet_Establishment_Year Outlet_Size Outlet_Location_Type  \
4776  256.4646                       2009      Medium               Tier 3
7510  179.7660                       2009      Medium               Tier 3
5828  157.2946                       1999      Medium               Tier 1
5327   82.3250                       2004       Small               Tier 2
4810  120.9098                       2002         NaN               Tier 2
...        ...                        ...         ...                  ...
5734  139.1838                       1998         NaN               Tier 3
5191   75.6670                       2007         NaN               Tier 2
5390  237.3590                       2002         NaN               Tier 2
860   117.9466                       2007         NaN               Tier 2
7270   95.7410                       1997       Small               Tier 1

            Outlet_Type
4776  Supermarket Type2
7510  Supermarket Type2
5828  Supermarket Type1
5327  Supermarket Type1
4810  Supermarket Type1
...                 ...
5734      Grocery Store
5191  Supermarket Type1
5390  Supermarket Type1
860   Supermarket Type1
7270  Supermarket Type1

[6392 rows x 9 columns]

In [101]:
preprocessor.fit(X_train)

ValueError: ignored